<script src="static/js/home.js"></script>

{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="private-business"></div>

    <a href="{% url 'login' %}">
        <div class="login-jb">
    <h1>Log in</h1>
  <p>To book a time</p>
</div>

<a href="{% url 'register_user' %}">
        <div class="register-jb">
    <h1>Register</h1>
  <p>Practitioner / Regular user</p>
</div>


<!--   <div class="register-jb">
    <a href="{% url 'register_user' %}"><h1>Register</h1></a>
    <p>Practitioner / Regular user</p>
    </div> -->
</div>
{% endblock %}

